/* 

Color Scheme::after
https://visme.co/blog/website-color-schemes/

Name extractor: 
https://chir.ag/projects/name-that-color/#E27D69


how ot make your text responssive
https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/

Todo:
Clamp to make text responssive. See link above.
Make video iframe responssive.
make a flex grid to add icons to features.
Ask for feedback.
Test using w3 link tester.
*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat&family=Pacifico&family=Playfair+Display&family=Roboto&display=swap');

:root {
  --color-white: #f3f3f3;
  --color-brown: #9d5c4a;
  --color-dark-violet: #2a2535;
  --color-green-brown: #a8a659;
  --color-dark-green: #454a27;
  --color-light-green: #22ab92;
  --color-orange: #ec8941;
  --color-red: #f80338;
  --color-violet: #322673;
  --color-grey: #d9d4d0;
  --color-dark-red: #c32325;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  outline-color: 1rem var(--color-orange);
  background-color: var(--color-grey);
  color: var(--color--dark-violet);
  font-size: 36px;
}

#main-container {
  max-width: 100rem;
  margin: 0 auto;
}

/* Header & Navigation Styling */

#title {
  font-size: 3rem;
  font-family: 'Bangers', cursive;
}

/* .header-group img {
  display: inline-block;
} */

.header-group {
  display: flex;
  align-items: center;
}

#header li {
  font-size: 1.5rem;
}

#header-img {
  width: 3rem;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* /* align-content: around; */
  align-items: center;
  height: 10vh;
  background-color: var(--color-orange);
  padding: 0.5rem 0rem;
  /* text-align: center; */
  width: 100%;
  /* background-color: var(--color-green-green); */
  border: 0.1rem solid var(--color-violet);
  /* display: flex; */
  /* justify-content: space-between; */
  box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem var(--color-dark-violet);
}

/* .header-group {
  justify-content: center;
} */
#nav-bar a,
#nav-bar a:visited {
  color: var(--color-dark-violet);
}

#nav-bar ul {
  display: flex;
  justify-content: space-between;
}

/* Email list section */

#email-list {
  /* margin: 2rem 0rem 2rem 0rem; */
  text-align: center;
  padding: 2rem 2rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#email-list h3 {
  padding: 1rem 0;
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}
#email-list p {
  padding: 1rem 1rem;
  font-style: italic;
}
#email-list input {
  font-size: 2rem;

  padding: 1rem;
  margin-bottom: 1rem;
}

#email-list form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem 0;
}
#email-list .submit-list {
  padding: 0 5rem;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: var(--color-orange);
}

#email-list input:hover {
  border: none;
  outline: none;
  cursor: pointer;
}

/* Feature */

#features-group ul {
  display: flex;
}

#features-group {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 1rem 0rem;
  align-items: center;
}

.feature {
  display: flex;
  text-align: left;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}

#features-group h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#features-group p {
  font-size: 2rem;
  font-style: italic;
}

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 50%;
}

/* #features-group .feature i {
  width: 1rem;
  height: 1rem;
} */

/* Video-Container - Dimensions 356 : 150*/
/* 
.video-container p {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
} */

/* Pricing Card Styling */

#pricing-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: column; */
}

.pricing-card .header-img {
  width: 3rem;
}

.pricing-card {
  max-width: 300px;
  border: 1px black solid;
  box-shadow: 2px 2px 3px 1px var(--color-dark-violet);
  text-align: center;
  margin: 1rem 1.3rem;
  flex-grow: 1;
}

.pricing-card h3 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.pricing-card p strong {
  font-size: 1.4rem;
}

.pricing-card p strong {
  font-style: italic;
  text-decoration-line: underline;
}

.pricing-card p {
  font-size: 1.2rem;
  padding: 0 1.3rem;
}

.pricing-card img,
.pricing-card p,
.pricing-card button {
  margin: 0.9rem 0;
}

.pricing-card button {
  padding: 0 5rem;
  border-radius: 1rem;
  font-size: 1.3rem;
}

.pricing-card button:hover {
  border: none;
  outline: none;
  cursor: pointer;
}

/* Footer Section */
#footer {
  background-color: var(--color-orange);
  margin-top: 1rem;
}

#footer p {
  text-decoration: underline;
  font-style: italic;
}

#footer-group {
  display: flex;
  flex-direction: column;

  padding: 1rem 0rem;
}

#footer-group ul {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

hr {
  margin: 1rem 1.5rem 1.6rem 1.5rem;
}

/* Reusable */

.background-red {
  background-color: var(--color-dark-red);
}

.background-brown {
  background-color: var(--color-brown);
}

.background-white {
  background-color: var(--color-white);
}

.pricing-card button {
  background-color: var(--color-orange);
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 684px) {
  #header {
    flex-direction: column;
    height: 20vh;
  }

  #nav-bar ul {
    flex-direction: column;
    justify-content: space-between;
  }
  #features-group i {
    display: none;
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  body {
    font-size: 20px;
  }
  #features-group h3 {
    font-size: 1.25rem;
  }
  #features-group p {
    font-size: 1.25rem;
    font-style: italic;
  }
  #title {
    font-size: 2.5rem;
    font-family: 'Bangers', cursive;
  }
  #header li {
    font-size: 1.6rem;
  }
  #email-list h3 {
    font-size: 1.4rem;
  }
  #email-list .submit-list {
    font-size: 1.3rem;
  }
  #email-list input {
    font-size: 1rem;
  }
  .responsive-iframe {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 360px) {
  #header {
    height: 25vh;
  }
  body {
    font-size: 16px;
  }
  #header li {
    font-size: 1.3rem;
  }
}
